.text-center {
  text-align: center;
}

/* /Underline From Left White*/
.hvr-underline-from-left-white {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left-white:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $white;
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left-white:hover:before,
.hvr-underline-from-left-white:focus:before,
.hvr-underline-from-left-white:active:before {
  right: 0;
}
/* /Underline From Left White*/

/* /Underline From Left Beige*/
.hvr-underline-from-left-beige {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left-beige:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: map-get($ui-colors, brand-color-7);
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left-beige:hover:before,
.hvr-underline-from-left-beige:focus:before,
.hvr-underline-from-left-beige:active:before {
  right: 0;
}
/* /Underline From Left Beige*/

/* /Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: map-get($ui-colors, text-color-1);
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}
/* /Underline From Left */

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.page-title {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 15px;
  background-color: map-get($ui-colors, brand-color-1);
  @media screen and (max-width: 1049px) {
    padding: 10px 15px;
  }
  h2 {
    color: $white;
    font-family: $montserrat-regular;
    font-size: 2.75em;
    @media screen and (max-width: 1049px) {
      font-size: 2em;
    }
  }
}

.section-title {
  .title {
    font-family: $opensans-semibold;
    font-size: 2.8em;
    color: map-get($ui-colors, brand-color-2);
    @media screen and (max-width: 1200px) {
      font-size: 2.1em;
    }
    @media screen and (max-width: 490px) {
      font-size: 1.6em;
    }
  }
}

.page-text {
  float: left;
  width: 100%;
  margin: 60px 0;
  font-size: 1.25em;
  line-height: 1.4;
  @media screen and (max-width: 1049px) {
    margin: 40px 0;
    font-size: 1em;
  }
  @media screen and (max-width: 740px) {
    text-align: justify;
  }
  p {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 740px) {
    margin-bottom: 10px;
  }
}

.image-responsive {
  max-width: 100%;
  height: auto;
}
