// colors

$color-1: #2b334f; // Pickled Bluewood
$color-2: #2e5367; // San Juan
$color-3: #267481; // Lochinvar
$color-4: #fcb052; // Texas Rose
$color-5: #f06a59; // Burnt Sienna

$facebook-color: #315d9f;
$youtube-color: #c4302b;
$linkedin-color: #4875b4;

$white: #fff; // White
$black: #000; // Black

$ui-colors: (
  brand-color-1: #7a003c,
  brand-color-2: #222325,
  brand-color-3: #5e6166,
  brand-color-4: #fa5c5d,
  brand-color-5: #cf5f89,
  brand-color-6: #ac3361,
  brand-color-7: #fdeb97,
  brand-color-8: #fdf9f4,
  brand-color-9: #eaeaeb,
  brand-color-10: #b9b9bd,
  brand-color-11: #822648,
  text-color-1: #373839,
  text-color-2: #ccc,
  color-1: #d2c6b8,
  mask-color: #333,
);

// fonts 

$opensans-regular: OpenSans-Regular, sans-serif;
$opensans-semibold: OpenSans-Semibold, sans-serif;
$montserrat-regular: Montserrat-Regular, sans-serif;
$montserrat-bold: Montserrat-Bold, sans-serif;