.contact-person {
  position: relative;
  float: left;
  width: 100%;
  height: 550px;
  padding: 20px;
  background-color: map-get($ui-colors, brand-color-8);
  @media screen and (max-width: 991px) {
    height: 450px;
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    height: auto;
  }
  > div {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 15px;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
}

.contact-photo {
  > img {
    margin-bottom: 20px;
  }
}

.about-info {
  overflow-y: auto;
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .name {
    margin: 20px 0 10px;
    color: map-get($ui-colors, text-color-1);
    font-family: $opensans-regular;
    font-size: 1.75em;
    @media screen and (max-width: 1049px) {
      font-size: 1.5em;
    }
  }
}

.small-sub {
  margin-bottom: 20px;
  font-family: $opensans-regular;
  font-size: 0.9em;
}

.info-text {
  line-height: 1.4;
  @media screen and (max-width: 767px) {
    text-align: justify;
  }
  > p {
    margin-bottom: 25px;
    font-size: 1.125em;
    @media screen and (max-width: 1049px) {
      font-size: 1em;
    }
  }
}

.fancy-section {
  position: relative;
  float: left;
  width: 100%;
  margin: 60px 0;
  color: $white;
  > div {
    float: left;
    width: 100%;
  }
  .half {
    position: relative;
    float: left;
    width: 50%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .content {
    padding: 5% 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .top {
    .content {
      background-color: map-get($ui-colors, brand-color-1);
    }
  }
  .bottom {
    .content {
      background-color: map-get($ui-colors, text-color-1);
    }
  }
}

.image-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media screen and (max-width: 767px) {
    height: 250px !important;
  }
  > img {
    display: none;
  }
}

.content-item {
  margin-bottom: 80px;
  width: 80%;
  @media screen and (max-width: 991px) {
    margin-bottom: 40px;
    width: 100%;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    margin: 0 0 20px;
    font-family: $montserrat-regular;
    font-size: 2.25em;
    @media screen and (max-width: 991px) {
      font-size: 1.6em;
    }
  }
  .description {
    font-size: 1.25em;
    line-height: 1.4;
    @media screen and (max-width: 991px) {
      font-size: 1.1em;
    }
    @media screen and (max-width: 490px) {
      font-size: 0.9em;
      text-align: justify;
    }
  }
}
