.contact-layout {
  position: relative;
  float: left;
  width: 100%;
  > div {
    position: relative;
    float: left;
    width: 50%;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto !important;
    }
  }
}

.basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  padding: 60px 30px 80px;
  background-color: map-get($ui-colors, brand-color-9);
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
}

.fancy-info {
  max-width: 100%;
  width: 450px;
  padding: 30px 15px;
  color: $white;
  .title {
    position: relative;
    margin-bottom: 60px;
    font-family: $opensans-semibold;
    font-weight: bold;
    font-size: 1.9em;
    &:before {
      position: absolute;
      content: '';
      width: 80%;
      height: 3px;
      left: 0;
      bottom: -15px;
      background-color: map-get($ui-colors, brand-color-7);
    }
  }
  .address,
  .phone {
    margin-bottom: 20px;
    color: map-get($ui-colors, text-color-2);
    font-family: $opensans-semibold;
    font-size: 1.375em;
    line-height: 1.4;
  }
  .phone {
    margin-bottom: 40px;
  }
  [href^="mailto:"] {
    margin-bottom: 20px;
    color: map-get($ui-colors, brand-color-7);
    font-family: $opensans-semibold;
    font-size: 1.375em;
    line-height: 1.6;
  }
}

.full-width-link {
  position: relative;
  float: left;
  width: 100%;
}

.jumbo-link {
  display: block;
  float: left;
  width: 100%;
  padding: 40px 15px;
  color: $white;
  background-color: map-get($ui-colors, text-color-1);
  text-align: center;
  font-family: $montserrat-regular;
  font-size: 2.250em;
  transition: all linear 0.2s;
  &:hover {
    background-color: map-get($ui-colors, brand-color-1);
  }
  @media screen and (max-width: 1049px) {
    padding: 20px 15px;
    font-size: 1.8em;
  }
}

.map-wrapper {
  float: left;
  width: 100%;
  height: auto;
  min-height: 500px;
  background: image-url('site-map.jpg') no-repeat center center;
  background-size: cover;
  @media screen and (max-width: 1049px) {
    min-height: 300px;
  }
  > iframe,
  > embed,
  > canvas {
    width: 100%;
    height: auto;
  }
}
