.site-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  max-width: 70%;
  transition: all linear 0.2s;
  @media screen and (max-width: 490px) {
    top: 10px;
    left: 10px;
  }
  > img {
    max-width: 100%;
    height: auto;
  }
}
