.section-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media screen and (max-width: 1049px) {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding: 20px 0;
    background: image-url('section-3-image.jpg') no-repeat center center;
    background-size: cover;
  }
  > div {
    width: 50%;
    @media screen and (max-width: 1049px) {
      width: 85%;
    }
  }
  .promo-image {
    @media screen and (max-width: 1049px) {
      display: none;
    }
  }
}

.section-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 15px 30px;
  @media screen and (max-width: 1049px) {
    padding: 10px;
    background-color: rgba($white, 0.6);
  }
  .section-title {
    margin-bottom: 40px;
  }
  .fact {
    width: 80%;
    text-align: left;
    @media screen and (max-width: 460px) {
      font-size: 0.9em;
      line-height: 1.4;
      text-align: justify;
    }
  }
}
