.section-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media screen and (max-width: 1049px) {
    flex-direction: column;
  }
  > div {
    width: 50%;
    @media screen and (max-width: 1049px) {
      width: 100%;
    }
  }
  .promo-image {
    @media screen and (max-width: 1049px) {
      display: none;
    }
  }
}

.promo-image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  > img {
    display: none;
  }
}

.image-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(map-get($ui-colors, mask-color), 0.4);
  z-index: 100;
}

.section-2-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  @media screen and (max-width: 1049px) {
    min-height: 100vh;
    height: auto;
  }
  > div {
    width: 80%;
    @media screen and (max-width: 1049px) {
      width: 90%;
    }
  }
  p {
    width: 80%;
    color: map-get($ui-colors, text-color-1);
    text-align: justify;
    line-height: 1.35;
    @media screen and (max-width: 540px) {
      margin: 15px 0;
      font-size: 0.875em;
    }
  }
  .dark-strip {
    width: 100%;
    height: 30px;
    background-color: map-get($ui-colors, text-color-1);
  }
}

.fact {
  white-space: normal;
  color: map-get($ui-colors, text-color-1);
  font-size: 1.75em;
  line-height: 1.4;
  @media screen and (max-width: 1200px) {
    font-size: 1.3em;
  }
  @media screen and (max-width: 540px) {
    margin: 20px 0;
    font-size: 1em;
  }
}
