.section-5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $white;
  @media screen and (max-width: 1049px) {
    height: auto;
    min-height: 100vh;
    padding: 20px 15px;
    background: image-url('section-6-image1.jpg') no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  > div {
    width: 33.3%;
    @media screen and (max-width: 1049px) {
      width: auto;
      max-width: 70%;
    }
    @media screen and (max-width: 540px) {
      max-width: 100%;
    }
  }
  .promo-image {
    @media screen and (max-width: 1049px) {
      display: none;
    }
  }
}

.section-5-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  @media screen and (max-width: 1049px) {
    padding: 15px;
    background-color: rgba($white, 0.6);
  }
  > div {
    max-width: 100%;
    margin: 10px 0;
  }
  .fact {
    text-align: justify;
    font-size: 1.4em;
    @media screen and (max-width: 1200px) {
      font-size: 1.2em;
    }
    @media screen and (max-width: 540px) {
      font-size: 1em;
    }
  }
}
