.section-7 {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1049px) {
    min-height: 100vh;
    height: auto;
  }
  .title {
    padding: 0 15px;
    font-family: $montserrat-bold;
  }
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  @media screen and (max-width: 740px) {
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
  }
  .fa {
    color: map-get($ui-colors, brand-color-4);
    font-size: 4em;
    @media screen and (max-width: 1049px) {
      font-size: 3em;
    }
  }
}

.info {
  width: 300px;
  max-width: 100%;
  @media screen and (max-width: 1049px) {
    width: 200px;
  }
  @media screen and (max-width: 740px) {
    margin: 10px 0;
    width: 290px;
    max-width: 100%;
  }
  .label {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: $montserrat-bold;
    font-size: 1.6em;
    text-transform: uppercase;
    color: map-get($ui-colors, brand-color-2);
    @media screen and (max-width: 1049px) {
      font-size: 1.2em;
    }
  }
}

.info-content {
  font-family: $opensans-semibold;
  font-size: 1.125em;
  color: map-get($ui-colors, text-color-1);
  @media screen and (max-width: 1049px) {
    font-size: 0.9em;
  }
  a {
    color: map-get($ui-colors, text-color-1);
    line-height: 1.4;
    @media screen and (max-width: 1049px) {
      font-size: 0.9em;
    }
    &:hover {
      color: map-get($ui-colors, text-color-1);
    }
  }
}

.footer {
  background-color: map-get($ui-colors, brand-color-1);
  .wrapper {
    position: relative;
    padding: 40px 0;
    @media screen and (max-width: 1200px) {
      padding: 20px 0;
    }
  }
}

.left-corner {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  @media screen and (max-width: 490px) {
    display: none;
  }
}

.right-corner {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  @media screen and (max-width: 490px) {
    display: none;
  }
}

.jumbo-text {
  margin-bottom: 10px;
  font-family: $montserrat-bold;
  font-size: 3.75em;
  color: $white;
  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    font-size: 3.25em;
  }
  @media screen and (max-width: 1049px) {
    font-size: 2.4em;
  }
  @media screen and (max-width: 640px) {
    font-size: 2em;
  }
}

.fancy-line {
  position: relative;
  width: 100%;
  height: 5px;
  &:before {
    @include center(x);
    position: absolute;
    content: '';
    width: 300px;
    height: 5px;
    top: 0;
    left: 50%;
    background-color: map-get($ui-colors, brand-color-5);
  }
}

.footer-socials {
  margin: 20px 0;
  > li {
    display: inline-block;
    margin: 0 5px;
    > a {
      display: inline-block;
    }
  }
  .fa {
    padding-top: 8px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 50%;
    background-color: map-get($ui-colors, brand-color-6);
    transition: all linear 0.2s;
    &.fa-facebook:hover {
      background-color: $facebook-color;
    }
    &.fa-youtube:hover {
      background-color: $youtube-color;
    }
    &.fa-linkedin:hover {
      background-color: $linkedin-color;
    }
  }
}

.bottom-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  border-top: 1px solid map-get($ui-colors, brand-color-3);
  background-color: map-get($ui-colors, brand-color-2);
  font-size: 0.75em;
  line-height: 1.4;
  &.floated {
    float: left;
    width: 100%;
    color: $white;
  }
  @media screen and (max-width: 740px) {
    flex-direction: column;
    justify-content: center;
    > p {
      text-align: center;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  a {
    text-decoration: underline;
    color: map-get($ui-colors, brand-color-7);
  }
}
