.section-6 {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: map-get($ui-colors, brand-color-1);
  color: $white;
  @media screen and (max-width: 1049px) {
    height: auto;
    min-height: 100vh;
  }
  .title {
    font-size: 3.2em;
    color: $white;
    @media screen and (max-width: 1200px) {
      font-size: 2.8em;
    }
    @media screen and (max-width: 1049px) {
      font-size: 2.1em;
    }
  }
}

.story-text {
  max-width: 65%;
  font-size: 1.6em;
  line-height: 1.4;
  text-align: center;
  @media screen and (max-width: 1200px) {
    font-size: 1.3em;
  }
  @media screen and (max-width: 1049px) {
    margin: 20px 0;
    max-width: 90%;
    font-size: 1.1em;
  }
  @media screen and (max-width: 540px) {
    text-align: justify;
    font-size: 1em;
  }
}

.services {
  position: relative;
  max-width: 85%;
  @media screen and (max-width: 1049px) {
    max-width: 50%;
  }
  @media screen and (max-width: 690px) {
    max-width: 70%;
  }
  @media screen and (max-width: 540px) {
    max-width: 90%;
  }
  > div {
    position: relative;
    float: left;
    width: 33.3%;
    overflow: hidden;
    @media screen and (max-width: 1049px) {
      width: 100%;
    }
    &:hover {
      .service-hover {
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
    > img {
      width: 100%;
      height: auto;
      transition: all linear 0.4s;
    }
  }
}

.service-hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 15px 40px;
  background-color: rgba(map-get($ui-colors, text-color-1), 0.4);
  opacity: 0;
  transition: all linear 0.2s;
  @media screen and (max-width: 560px) {
    opacity: 1;
  }
  &:before {
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid $white;
    z-index: 10;
  }
  p {
    margin-bottom: 20px;
    font-family: $montserrat-regular;
    font-size: 1.8em;
    @media screen and (max-width: 1200px) {
      font-size: 1.2em;
    }
  }
  > p,
    a {
    z-index: 15;
  }
}
