.section-4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px 0 40px;
  @media screen and (max-width: 1049px) {
    padding: 20px;
    justify-content: center;
    height: auto;
    min-height: 100vh;
  }
}

.banner-text {
  padding: 40px 20px;
  width: auto;
  max-width: 600px;
  background-color: rgba(map-get($ui-colors, brand-color-1), 0.7);
  color: $white;
  h2 {
    margin-bottom: 40px;
    font-family: $opensans-semibold;
    font-size: 2.8em;
    @media screen and (max-width: 1200px) {
      font-size: 2.1em;
    }
    @media screen and (max-width: 420px) {
      font-size: 1.6em;
    }
  }
  p {
    font-family: $opensans-regular;
    font-size: 1.6em;
    line-height: 1.4;
    @media screen and (max-width: 1200px) {
      font-size: 1.3em;
    }
    @media screen and (max-width: 420px) {
      font-size: 0.9em;
      text-align: justify;
    }
  }
}

