.parallax-schedule {
  float: left;
  width: 100%;
  height: auto;
  min-height: 650px;
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 740px) {
    min-height: 600px;
  }
}

.schedule {
  max-width: 100%;
  width: 640px;
  margin-bottom: 20px;
  margin-right: 5px;
  background-color: rgba($white, 0.7);
  padding: 40px;
  @media screen and (max-width: 740px) {
    padding: 20px 15px;
  }
  .title {
    margin-bottom: 20px;
    color: map-get($ui-colors, text-color-1);
    font-family: $montserrat-regular;
    font-size: 2.25em;
    letter-spacing: -1px;
    @media screen and (max-width: 740px) {
      font-size: 1.6em;
    }
  }
  .description {
    margin-bottom: 20px;
    font-size: 1.125em;
    line-height: 1.4;
    @media screen and (max-width: 740px) {
      font-size: 1em;
      text-align: justify;
    }
  }
}

.days {
  @media screen and (max-width: 740px) {
    text-align: center;
  }
  li {
    display: inline-block;
    &:first-child {
      margin-right: 20px;
      @media screen and (max-width: 740px) {
        margin-bottom: 20px;
      }
    }
  }
  h4 {
    font-family: $opensans-regular;
    font-size: 1.75em;
    font-weight: bold;
    color: map-get($ui-colors, text-color-1);
    @media screen and (max-width: 740px) {
      font-size: 1.4em;
    }
  }
  p {
    font-size: 1.4em;
    @media screen and (max-width: 740px) {
      font-size: 1em;
    }
  }
}

.session-board {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 80px;
  @media screen and (max-width: 890px) {
    margin-bottom: 0;
  }
  &:before {
    @media screen and (max-width: 890px) {
      display: none;
    }
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: map-get($ui-colors, brand-color-1);
    z-index: -1;
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: map-get($ui-colors, brand-color-8);
    z-index: -1;
    @media screen and (max-width: 890px) {
      width: 100%;
    }
  }
  > div {
    float: left;
    width: 50%;
    &:first-child {
      @media screen and (max-width: 890px) {
        position: absolute;
        width: 285px;
        height: 420px;
        top: 0;
        left: -285px;
        background-color: map-get($ui-colors, brand-color-1);
        z-index: 100;
        &.opened {
          left: 0;
        }
        &.fixed {
          position: fixed;
          top: 60px;
        }
      }
    }
    &:last-child {
     @media screen and (max-width: 890px) {
       width: 100%;
       background-color: map-get($ui-colors, brand-color-8);
      }
    }
  }
}

.list-wrapper {
  transition: all 0.6s cubic-bezier(0.645,.045,.355,1);
}

.nav-trigger {
  display: block;
  position: absolute;
  padding: 5px;
  top: 0;
  right: -25px;
  width: 25px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  background-color: map-get($ui-colors, brand-color-1);
  z-index: 10;
  @media screen and (min-width: 890px) {
    display: none;
  }
}

.boards-list {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.content-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.content-carousel {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
}

.board-nav {
  position: relative;
  float: left;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: $white;
  margin: 1px 0;
  padding: 60px 20px 60px 40px;
  background-color: map-get($ui-colors, brand-color-11);
  transition: all linear 0.2s;
  @media screen and (max-width: 1049px) {
    padding: 40px 15px;
  }
  @media screen and (max-width: 890px) {
    padding: 15px;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background-color: map-get($ui-colors, text-color-1);
  }
  &.slick-current {
    background-color: map-get($ui-colors, text-color-1);
  }
  img {
    width: 50px;
    height: 50px;
    @media screen and (max-width: 1049px) {
      width: 40px;
      height: 40px;
    }
  }
}

.entry-name {
  margin-right: 20px;
  font-family: $montserrat-regular;
  font-size: 2.25em;
  @media screen and (max-width: 1049px) {
    font-size: 1.4em;
  }
  @media screen and (max-width: 890px) {
    margin-right: 10px;
    font-size: 0.9em;
  }
}

.boards-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 60px 40px;
  @media screen and (max-width: 1049px) {
    padding: 40px 15px;
  }
  @media screen and (max-width: 890px) {
    padding: 40px 15px 10px 30px;
  }
  .hours {
    font-family: $opensans-regular;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.4;
    color: map-get($ui-colors, brand-color-1);
    @media screen and (max-width: 1049px) {
      font-size: 1.1em;
    }
  }
}

.item-title {
  font-family: $montserrat-regular;
  font-size: 1.625em;
  line-height: 1.4;
  color: map-get($ui-colors, text-color-1);
  @media screen and (max-width: 1049px) {
    font-size: 1.4em;
  }
}

.item-content {
  margin: 10px 0 20px;
  font-size: 1.125em;
  line-height: 1.4;
  @media screen and (max-width: 1049px) {
    font-size: 1em;
  }
}
