.site-btn {
  display: inline-block;
  padding: 15px 30px;
  color: $white;
  font-family: $opensans-semibold;
  font-size: 1em;
  text-transform: uppercase;
  border: 2px solid map-get($ui-colors, brand-color-1);
  background-color: map-get($ui-colors, brand-color-1);
  transition: all linear 0.2s;
  &:hover {
    background-color: transparent;
    color: map-get($ui-colors, brand-color-1);
  }
  &.btn-transparent {
    border-color: $white;
    background-color: transparent;
    &:hover {
      background-color: map-get($ui-colors, brand-color-1);
      border-color: map-get($ui-colors, brand-color-1);
      color: $white;
    }
  }
}

.menu-trigger {
  position: fixed;
  top: 36px;
  right: 40px;
  display: block;
  padding: 2px 4px;
  //background-color: rgba(map-get($ui-colors, brand-color-1), 0.4);
  text-shadow: 1px 1px 0 map-get($ui-colors, brand-color-1);
  z-index: 1000;
  transition: all linear 0.2s;
  @media screen and (max-width: 490px) {
    top: 10px !important;
    right: 10px;
  }
  &:hover {
    background-color: rgba(map-get($ui-colors, brand-color-1), 0.4);
  }
}
