.arrows {
  @include center(y);
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  transition: all linear 0.2s;
  @media screen and (max-width: 640px) {
    width: 30px;
    height: 30px;
  }
  &:hover {
    background-color: rgba(map-get($ui-colors, brand-color-1), 0.4);
  }
  &.nav-left {
    left: 15px;
    @media screen and (max-width: 480px) {
      left: 5px;
    }
  }
  &.nav-right {
    right: 15px;
    @media screen and (max-width: 480px) {
      right: 5px;
    }
  }
  > img {
    width: 100%;
    height: auto;
  }
}

.main-carousel {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  margin-bottom: 0;
  .slide-item {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    > img {
      display: none;
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.slide-content {
  max-width: 80%;
  padding: 0 10px;
  .site-btn {
    margin-top: 60px;
  }
}

.jumbo-caption {
  color: $white;
  font-size: 3.75em;
  font-family: $montserrat-bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 $black;
  @media screen and (max-width: 840px) {
    font-size: 2.6em;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 20px;
    font-size: 9vw;
  }
}

.banner-caption {
  color: $white;
  font-family: $montserrat-regular;
  font-size: 2.75em;
  text-shadow: 1px 1px 0 $black;
  @media screen and (max-width: 840px) {
    font-size: 1.6em;
  }
  @media screen and (max-width: 480px) {
    font-size: 1.2em;
  }
}
