.form-control {
  width: 100%;
  padding: 12px 10px;
  font-family: $opensans-regular;
  font-size: 1.25em;
  color: map-get($ui-colors, text-color-1);
  border: 1px solid map-get($ui-colors, brand-color-10);
  background-color: transparent;
  transition: all linear 0.2s;
  &:focus,
  &:hover {
    border-color: map-get($ui-colors, brand-color-1);
    background-color: $white;
    box-shadow: 0 1px 1px rgba($black, 0.075) inset, 0 0 8px rgba(map-get($ui-colors, brand-color-1), 0.6);
  }
}

.contact-form {
  position: relative;
  padding: 0 15px;
  float: left;
  width: 100%;
  .form-title {
    margin: 10px 0 60px;
  }
}

.form-title {
  font-family: $montserrat-regular;
  font-size: 2.25em;
  color: map-get($ui-colors, text-color-1);
}

.control-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
