.page-header {
  position: relative;
  float: left;
  width: 100%;
  height: 360px;
  @media screen and (max-width: 1049px) {
    height: 260px;
  }
  @media screen and (max-width: 490px) {
    height: 160px;
  }
}

.dark-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($black, 0.4);
}
