.site-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  padding: 30px 15px;
  background-color: map-get($ui-colors, brand-color-2);
  z-index: 1100;
  transition: all 0.6s cubic-bezier(0.645,.045,.355,1);
  @media screen and (max-height: 480px) {
    height: 100vh;
    overflow-y: scroll;
  }
  &.opened {
    right: 0;
  }
}

.flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-portrait {
  @media screen and (max-height: 560px) {
    width: 110px;
  }
  > img {
    max-width: 100%;
    height: auto;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  &:hover {
    .fa {
      color: map-get($ui-colors, brand-color-3);
    }
  }
}

.navigation {
  list-style: none;
  > li {
    margin: 10px 0;
  }
}

.nav-link {
  color: $white;
  font-family: $opensans-regular;
  font-size: 1.87em;
  line-height: 1.2;
  @media screen and (max-height: 540px) {
    font-size: 1.2em;
  }
  &.active {
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: $white;
    }
  }
}

.menu-socials {
  margin-top: 20px;
  > li {
    display: inline-block;
    padding: 0 2px;
    > a {
      display: inline-block;
    }
  }
  .fa {
    width: 40px;
    height: 40px;
    background-color: map-get($ui-colors, brand-color-3);
    border-radius: 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 40px;
    transition: all linear 0.15s;
    &.fa-facebook:hover {
      background-color: $facebook-color;
    }
    &.fa-youtube:hover {
      background-color: $youtube-color;
    }
    &.fa-linkedin:hover {
      background-color: $linkedin-color;
    }
  }
  &.white {
    .fa {
      width: 55px;
      height: 55px;
      background-color: $white;
      line-height: 55px;
      font-size: 2em;
      color: map-get($ui-colors, brand-color-2);
      &:hover {
        color: $white;
      }
    }
  }
}
