@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.otf") format("opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.otf") format("opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.otf") format("opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.otf") format("opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.svg") format("svg");
  font-weight: normal;
}
.text-center {
  text-align: center;
}

/* /Underline From Left White*/
.hvr-underline-from-left-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left-white:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: right;
          transition-property: right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-underline-from-left-white:hover:before,
.hvr-underline-from-left-white:focus:before,
.hvr-underline-from-left-white:active:before {
  right: 0;
}

/* /Underline From Left White*/
/* /Underline From Left Beige*/
.hvr-underline-from-left-beige {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left-beige:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fdeb97;
  height: 2px;
  -webkit-transition-property: right;
          transition-property: right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-underline-from-left-beige:hover:before,
.hvr-underline-from-left-beige:focus:before,
.hvr-underline-from-left-beige:active:before {
  right: 0;
}

/* /Underline From Left Beige*/
/* /Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #373839;
  height: 2px;
  -webkit-transition-property: right;
          transition-property: right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* /Underline From Left */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.page-title {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 15px;
  background-color: #7a003c;
}
@media screen and (max-width: 1049px) {
  .page-title {
    padding: 10px 15px;
  }
}
.page-title h2 {
  color: #fff;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.75em;
}
@media screen and (max-width: 1049px) {
  .page-title h2 {
    font-size: 2em;
  }
}

.section-title .title {
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 2.8em;
  color: #222325;
}
@media screen and (max-width: 1200px) {
  .section-title .title {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 490px) {
  .section-title .title {
    font-size: 1.6em;
  }
}

.page-text {
  float: left;
  width: 100%;
  margin: 60px 0;
  font-size: 1.25em;
  line-height: 1.4;
}
@media screen and (max-width: 1049px) {
  .page-text {
    margin: 40px 0;
    font-size: 1em;
  }
}
@media screen and (max-width: 740px) {
  .page-text {
    text-align: justify;
  }
}
.page-text p {
  margin-bottom: 20px;
}
@media screen and (max-width: 740px) {
  .page-text {
    margin-bottom: 10px;
  }
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: OpenSans-Regular, sans-serif;
  color: #fff;
  background-color: #22293f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.pages {
  color: #373839;
  background-color: transparent;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
  min-height: 480px;
}
@media screen and (max-width: 1049px) {
  .cd-section {
    min-height: 100vh;
    height: auto;
  }
}
.cd-section > div {
  height: 100vh;
}
@media screen and (max-width: 1049px) {
  .cd-section > div {
    min-height: 100vh;
    height: auto;
  }
}
.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: '';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6b7084;
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-color: #fff;
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-color: #fdf9f4;
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("/static/img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("/static/img/img-5.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(6) > div, [data-animation="fixed"] .cd-section:nth-of-type(6) > div, [data-animation="opacity"] .cd-section:nth-of-type(6) > div {
  background-color: #fff;
}
[data-animation="parallax"] .cd-section:nth-of-type(7) > div, [data-animation="fixed"] .cd-section:nth-of-type(7) > div, [data-animation="opacity"] .cd-section:nth-of-type(7) > div {
  background-color: #fff;
}
@media only screen and (min-width: 1050px) {
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  bottom: 3%;
  width: 30px;
  background: rgba(0, 0, 0, 0.3) url('/static/img/fancy-mouse.png?1440761002') no-repeat center center;
  border-radius: 15px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: inline-block;
  height: 20px;
  width: 20px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url("/static/img/nav-arrow.png") no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 40px;
}
.cd-vertical-nav a.inactive {
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

/* --------------------------------

Section's styles

-------------------------------- */
.site-btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  border: 2px solid #7a003c;
  background-color: #7a003c;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.site-btn:hover {
  background-color: transparent;
  color: #7a003c;
}
.site-btn.btn-transparent {
  border-color: #fff;
  background-color: transparent;
}
.site-btn.btn-transparent:hover {
  background-color: #7a003c;
  border-color: #7a003c;
  color: #fff;
}

.menu-trigger {
  position: fixed;
  top: 36px;
  right: 40px;
  display: block;
  padding: 2px 4px;
  text-shadow: 1px 1px 0 #7a003c;
  z-index: 1000;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 490px) {
  .menu-trigger {
    top: 10px !important;
    right: 10px;
  }
}
.menu-trigger:hover {
  background-color: rgba(122, 0, 60, 0.4);
}

.form-control {
  width: 100%;
  padding: 12px 10px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.25em;
  color: #373839;
  border: 1px solid #b9b9bd;
  background-color: transparent;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.form-control:focus, .form-control:hover {
  border-color: #7a003c;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(122, 0, 60, 0.6);
}

.contact-form {
  position: relative;
  padding: 0 15px;
  float: left;
  width: 100%;
}
.contact-form .form-title {
  margin: 10px 0 60px;
}

.form-title {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.25em;
  color: #373839;
}

.control-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

.arrows {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 640px) {
  .arrows {
    width: 30px;
    height: 30px;
  }
}
.arrows:hover {
  background-color: rgba(122, 0, 60, 0.4);
}
.arrows.nav-left {
  left: 15px;
}
@media screen and (max-width: 480px) {
  .arrows.nav-left {
    left: 5px;
  }
}
.arrows.nav-right {
  right: 15px;
}
@media screen and (max-width: 480px) {
  .arrows.nav-right {
    right: 5px;
  }
}
.arrows > img {
  width: 100%;
  height: auto;
}

.main-carousel {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  margin-bottom: 0;
}
.main-carousel .slide-item {
  position: relative;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-carousel .slide-item > img {
  display: none;
}

.slide-content {
  max-width: 80%;
  padding: 0 10px;
}
.slide-content .site-btn {
  margin-top: 60px;
}

.jumbo-caption {
  color: #fff;
  font-size: 3.75em;
  font-family: Montserrat-Bold, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000;
}
@media screen and (max-width: 840px) {
  .jumbo-caption {
    font-size: 2.6em;
  }
}
@media screen and (max-width: 480px) {
  .jumbo-caption {
    margin-bottom: 20px;
    font-size: 9vw;
  }
}

.banner-caption {
  color: #fff;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.75em;
  text-shadow: 1px 1px 0 #000;
}
@media screen and (max-width: 840px) {
  .banner-caption {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 480px) {
  .banner-caption {
    font-size: 1.2em;
  }
}

.video-slide {
  overflow: hidden;
  z-index: -10;
}
.video-slide .bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-aspect-ratio: 16 / 9) {
  .video-slide .bg-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  .video-slide .bg-video {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 640px) {
  .video-slide .bg-video {
    display: none;
  }
}
.video-slide .slide-content {
  z-index: 10;
}

.site-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  padding: 30px 15px;
  background-color: #222325;
  z-index: 1100;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (max-height: 480px) {
  .site-menu {
    height: 100vh;
    overflow-y: scroll;
  }
}
.site-menu.opened {
  right: 0;
}

.flex-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-height: 560px) {
  .menu-portrait {
    width: 110px;
  }
}
.menu-portrait > img {
  max-width: 100%;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.close-btn:hover .fa {
  color: #5e6166;
}

.navigation {
  list-style: none;
}
.navigation > li {
  margin: 10px 0;
}

.nav-link {
  color: #fff;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.87em;
  line-height: 1.2;
}
@media screen and (max-height: 540px) {
  .nav-link {
    font-size: 1.2em;
  }
}
.nav-link.active:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}

.menu-socials {
  margin-top: 20px;
}
.menu-socials > li {
  display: inline-block;
  padding: 0 2px;
}
.menu-socials > li > a {
  display: inline-block;
}
.menu-socials .fa {
  width: 40px;
  height: 40px;
  background-color: #5e6166;
  border-radius: 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-transition: all linear 0.15s;
          transition: all linear 0.15s;
}
.menu-socials .fa.fa-facebook:hover {
  background-color: #315d9f;
}
.menu-socials .fa.fa-youtube:hover {
  background-color: #c4302b;
}
.menu-socials .fa.fa-linkedin:hover {
  background-color: #4875b4;
}
.menu-socials.white .fa {
  width: 55px;
  height: 55px;
  background-color: #fff;
  line-height: 55px;
  font-size: 2em;
  color: #222325;
}
.menu-socials.white .fa:hover {
  color: #fff;
}

.page-header {
  position: relative;
  float: left;
  width: 100%;
  height: 360px;
}
@media screen and (max-width: 1049px) {
  .page-header {
    height: 260px;
  }
}
@media screen and (max-width: 490px) {
  .page-header {
    height: 160px;
  }
}

.dark-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.page-footer {
  position: relative;
  float: left;
  width: 100%;
  color: #fff;
}
.page-footer .contact-info {
  margin-bottom: 5%;
}

.site-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  max-width: 70%;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 490px) {
  .site-logo {
    top: 10px;
    left: 10px;
  }
}
.site-logo > img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 680px) {
  .site-logo.mobile-small {
    max-width: 50%;
  }
}

.section-2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (max-width: 1049px) {
  .section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-2 > div {
  width: 50%;
}
@media screen and (max-width: 1049px) {
  .section-2 > div {
    width: 100%;
  }
}
@media screen and (max-width: 1049px) {
  .section-2 .promo-image {
    display: none;
  }
}

.promo-image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.promo-image > img {
  display: none;
}

.image-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.4);
  z-index: 100;
}

.section-2-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 1049px) {
  .section-2-content {
    min-height: 100vh;
    height: auto;
  }
}
.section-2-content > div {
  width: 80%;
}
@media screen and (max-width: 1049px) {
  .section-2-content > div {
    width: 90%;
  }
}
.section-2-content p {
  width: 80%;
  color: #373839;
  text-align: justify;
  line-height: 1.35;
}
@media screen and (max-width: 540px) {
  .section-2-content p {
    margin: 15px 0;
    font-size: 0.875em;
  }
}
.section-2-content .dark-strip {
  width: 100%;
  height: 30px;
  background-color: #373839;
}

.fact {
  white-space: normal;
  color: #373839;
  font-size: 1.75em;
  line-height: 1.4;
}
@media screen and (max-width: 1200px) {
  .fact {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 540px) {
  .fact {
    margin: 20px 0;
    font-size: 1em;
  }
}

.section-3 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (max-width: 1049px) {
  .section-3 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    height: auto;
    padding: 20px 0;
    background: url('/static/img/section-3-image.jpg?1441171374') no-repeat center center;
    background-size: cover;
  }
}
.section-3 > div {
  width: 50%;
}
@media screen and (max-width: 1049px) {
  .section-3 > div {
    width: 85%;
  }
}
@media screen and (max-width: 1049px) {
  .section-3 .promo-image {
    display: none;
  }
}

.section-3-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 60px 15px 30px;
}
@media screen and (max-width: 1049px) {
  .section-3-content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.section-3-content .section-title {
  margin-bottom: 40px;
}
.section-3-content .fact {
  width: 80%;
  text-align: left;
}
@media screen and (max-width: 460px) {
  .section-3-content .fact {
    font-size: 0.9em;
    line-height: 1.4;
    text-align: justify;
  }
}

.section-4 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 40px;
}
@media screen and (max-width: 1049px) {
  .section-4 {
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    min-height: 100vh;
  }
}

.banner-text {
  padding: 40px 20px;
  width: auto;
  max-width: 600px;
  background-color: rgba(122, 0, 60, 0.7);
  color: #fff;
}
.banner-text h2 {
  margin-bottom: 40px;
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 2.8em;
}
@media screen and (max-width: 1200px) {
  .banner-text h2 {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 420px) {
  .banner-text h2 {
    font-size: 1.6em;
  }
}
.banner-text p {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.6em;
  line-height: 1.4;
}
@media screen and (max-width: 1200px) {
  .banner-text p {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 420px) {
  .banner-text p {
    font-size: 0.9em;
    text-align: justify;
  }
}

.section-5 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #fff;
}
@media screen and (max-width: 1049px) {
  .section-5 {
    height: auto;
    min-height: 100vh;
    padding: 20px 15px;
    background: url('/static/img/section-6-image1.jpg?1440853622') no-repeat center center;
    background-size: cover;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section-5 > div {
  width: 33.3%;
}
@media screen and (max-width: 1049px) {
  .section-5 > div {
    width: auto;
    max-width: 70%;
  }
}
@media screen and (max-width: 540px) {
  .section-5 > div {
    max-width: 100%;
  }
}
@media screen and (max-width: 1049px) {
  .section-5 .promo-image {
    display: none;
  }
}

.section-5-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}
@media screen and (max-width: 1049px) {
  .section-5-content {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.section-5-content > div {
  max-width: 100%;
  margin: 10px 0;
}
.section-5-content .fact {
  text-align: justify;
  font-size: 1.4em;
}
@media screen and (max-width: 1200px) {
  .section-5-content .fact {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 540px) {
  .section-5-content .fact {
    font-size: 1em;
  }
}

.section-6 {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7a003c;
  color: #fff;
}
@media screen and (max-width: 1049px) {
  .section-6 {
    height: auto;
    min-height: 100vh;
  }
}
.section-6 .title {
  font-size: 3.2em;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .section-6 .title {
    font-size: 2.8em;
  }
}
@media screen and (max-width: 1049px) {
  .section-6 .title {
    font-size: 2.1em;
  }
}

.story-text {
  max-width: 65%;
  font-size: 1.6em;
  line-height: 1.4;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .story-text {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 1049px) {
  .story-text {
    margin: 20px 0;
    max-width: 90%;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 540px) {
  .story-text {
    text-align: justify;
    font-size: 1em;
  }
}

.services {
  position: relative;
  max-width: 85%;
}
@media screen and (max-width: 1049px) {
  .services {
    max-width: 50%;
  }
}
@media screen and (max-width: 690px) {
  .services {
    max-width: 70%;
  }
}
@media screen and (max-width: 540px) {
  .services {
    max-width: 90%;
  }
}
.services > div {
  position: relative;
  float: left;
  width: 33.3%;
  overflow: hidden;
}
@media screen and (max-width: 1049px) {
  .services > div {
    width: 100%;
  }
}
.services > div:hover .service-hover {
  opacity: 1;
}
.services > div:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.services > div > img {
  width: 100%;
  height: auto;
  -webkit-transition: all linear 0.4s;
          transition: all linear 0.4s;
}

.service-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 15px 40px;
  background-color: rgba(55, 56, 57, 0.4);
  opacity: 0;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 560px) {
  .service-hover {
    opacity: 1;
  }
}
.service-hover:before {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #fff;
  z-index: 10;
}
.service-hover p {
  margin-bottom: 20px;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1.8em;
}
@media screen and (max-width: 1200px) {
  .service-hover p {
    font-size: 1.2em;
  }
}
.service-hover > p,
.service-hover a {
  z-index: 15;
}

.section-7 {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1049px) {
  .section-7 {
    min-height: 100vh;
    height: auto;
  }
}
.section-7 .title {
  padding: 0 15px;
  font-family: Montserrat-Bold, sans-serif;
}

.contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 100%;
}
@media screen and (max-width: 740px) {
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0;
  }
}
.contact-info .fa {
  color: #fa5c5d;
  font-size: 4em;
}
@media screen and (max-width: 1049px) {
  .contact-info .fa {
    font-size: 3em;
  }
}

.info {
  width: 300px;
  max-width: 100%;
}
@media screen and (max-width: 1049px) {
  .info {
    width: 200px;
  }
}
@media screen and (max-width: 740px) {
  .info {
    margin: 10px 0;
    width: 290px;
    max-width: 100%;
  }
}
.info .label {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  color: #222325;
}
@media screen and (max-width: 1049px) {
  .info .label {
    font-size: 1.2em;
  }
}

.info-content {
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 1.125em;
  color: #373839;
}
@media screen and (max-width: 1049px) {
  .info-content {
    font-size: 0.9em;
  }
}
.info-content a {
  color: #373839;
  line-height: 1.4;
}
@media screen and (max-width: 1049px) {
  .info-content a {
    font-size: 0.9em;
  }
}
.info-content a:hover {
  color: #373839;
}

.footer {
  background-color: #7a003c;
}
.footer .wrapper {
  position: relative;
  padding: 40px 0;
}
@media screen and (max-width: 1200px) {
  .footer .wrapper {
    padding: 20px 0;
  }
}

.left-corner {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
@media screen and (max-width: 490px) {
  .left-corner {
    display: none;
  }
}

.right-corner {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
}
@media screen and (max-width: 490px) {
  .right-corner {
    display: none;
  }
}

.jumbo-text {
  margin-bottom: 10px;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 3.75em;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .jumbo-text {
    font-size: 3.25em;
  }
}
@media screen and (max-width: 1049px) {
  .jumbo-text {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 640px) {
  .jumbo-text {
    font-size: 2em;
  }
}

.fancy-line {
  position: relative;
  width: 100%;
  height: 5px;
}
.fancy-line:before {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  content: '';
  width: 300px;
  height: 5px;
  top: 0;
  left: 50%;
  background-color: #cf5f89;
}

.footer-socials {
  margin: 20px 0;
}
.footer-socials > li {
  display: inline-block;
  margin: 0 5px;
}
.footer-socials > li > a {
  display: inline-block;
}
.footer-socials .fa {
  padding-top: 8px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  border-radius: 50%;
  background-color: #ac3361;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.footer-socials .fa.fa-facebook:hover {
  background-color: #315d9f;
}
.footer-socials .fa.fa-youtube:hover {
  background-color: #c4302b;
}
.footer-socials .fa.fa-linkedin:hover {
  background-color: #4875b4;
}

.bottom-info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px 15px;
  border-top: 1px solid #5e6166;
  background-color: #222325;
  font-size: 0.75em;
  line-height: 1.4;
}
.bottom-info.floated {
  float: left;
  width: 100%;
  color: #fff;
}
@media screen and (max-width: 740px) {
  .bottom-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom-info > p {
    text-align: center;
  }
  .bottom-info > p:first-child {
    margin-bottom: 10px;
  }
}
.bottom-info a {
  text-decoration: underline;
  color: #fdeb97;
}

.contact-person {
  position: relative;
  float: left;
  width: 100%;
  height: 550px;
  padding: 20px;
  background-color: #fdf9f4;
}
@media screen and (max-width: 991px) {
  .contact-person {
    height: 450px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .contact-person {
    height: auto;
  }
}
.contact-person > div {
  float: left;
  width: 50%;
  height: 100%;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .contact-person > div {
    width: 100%;
    height: auto;
  }
}

.contact-photo > img {
  margin-bottom: 20px;
}

.about-info {
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .about-info {
    padding: 0;
  }
}
.about-info .name {
  margin: 20px 0 10px;
  color: #373839;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.75em;
}
@media screen and (max-width: 1049px) {
  .about-info .name {
    font-size: 1.5em;
  }
}

.small-sub {
  margin-bottom: 20px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9em;
}

.info-text {
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .info-text {
    text-align: justify;
  }
}
.info-text > p {
  margin-bottom: 25px;
  font-size: 1.125em;
}
@media screen and (max-width: 1049px) {
  .info-text > p {
    font-size: 1em;
  }
}

.fancy-section {
  position: relative;
  float: left;
  width: 100%;
  margin: 60px 0;
  color: #fff;
}
.fancy-section > div {
  float: left;
  width: 100%;
}
.fancy-section .half {
  position: relative;
  float: left;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .fancy-section .half {
    width: 100%;
  }
}
.fancy-section .content {
  padding: 5% 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.fancy-section .top .content {
  background-color: #7a003c;
}
.fancy-section .bottom .content {
  background-color: #373839;
}

.image-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .image-section {
    height: 250px !important;
  }
}
.image-section > img {
  display: none;
}

.content-item {
  margin-bottom: 80px;
  width: 80%;
}
@media screen and (max-width: 991px) {
  .content-item {
    margin-bottom: 40px;
    width: 100%;
  }
}
.content-item:last-child {
  margin-bottom: 0;
}
.content-item .title {
  margin: 0 0 20px;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.25em;
}
@media screen and (max-width: 991px) {
  .content-item .title {
    font-size: 1.6em;
  }
}
.content-item .description {
  font-size: 1.25em;
  line-height: 1.4;
}
@media screen and (max-width: 991px) {
  .content-item .description {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 490px) {
  .content-item .description {
    font-size: 0.9em;
    text-align: justify;
  }
}

.contact-layout {
  position: relative;
  float: left;
  width: 100%;
}
.contact-layout > div {
  position: relative;
  float: left;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .contact-layout > div {
    width: 100%;
    height: auto !important;
  }
}

.basic-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper {
  padding: 60px 30px 80px;
  background-color: #eaeaeb;
}
@media screen and (max-width: 767px) {
  .form-wrapper {
    padding: 40px 0;
  }
}

.fancy-info {
  max-width: 100%;
  width: 450px;
  padding: 30px 15px;
  color: #fff;
}
.fancy-info .title {
  position: relative;
  margin-bottom: 60px;
  font-family: OpenSans-Semibold, sans-serif;
  font-weight: bold;
  font-size: 1.9em;
}
.fancy-info .title:before {
  position: absolute;
  content: '';
  width: 80%;
  height: 3px;
  left: 0;
  bottom: -15px;
  background-color: #fdeb97;
}
.fancy-info .address,
.fancy-info .phone {
  margin-bottom: 20px;
  color: #ccc;
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 1.375em;
  line-height: 1.4;
}
.fancy-info .phone {
  margin-bottom: 40px;
}
.fancy-info [href^="mailto:"] {
  margin-bottom: 20px;
  color: #fdeb97;
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 1.375em;
  line-height: 1.6;
}

.full-width-link {
  position: relative;
  float: left;
  width: 100%;
}

.jumbo-link {
  display: block;
  float: left;
  width: 100%;
  padding: 40px 15px;
  color: #fff;
  background-color: #373839;
  text-align: center;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.250em;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.jumbo-link:hover {
  background-color: #7a003c;
}
@media screen and (max-width: 1049px) {
  .jumbo-link {
    padding: 20px 15px;
    font-size: 1.8em;
  }
}

.map-wrapper {
  float: left;
  width: 100%;
  height: auto;
  min-height: 500px;
  background: url('/static/img/site-map.jpg?1441537918') no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 1049px) {
  .map-wrapper {
    min-height: 300px;
  }
}
.map-wrapper > iframe,
.map-wrapper > embed,
.map-wrapper > canvas {
  width: 100%;
  height: auto;
}

.parallax-schedule {
  float: left;
  width: 100%;
  height: auto;
  min-height: 650px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 740px) {
  .parallax-schedule {
    min-height: 600px;
  }
}

.schedule {
  max-width: 100%;
  width: 640px;
  margin-bottom: 20px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}
@media screen and (max-width: 740px) {
  .schedule {
    padding: 20px 15px;
  }
}
.schedule .title {
  margin-bottom: 20px;
  color: #373839;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.25em;
  letter-spacing: -1px;
}
@media screen and (max-width: 740px) {
  .schedule .title {
    font-size: 1.6em;
  }
}
.schedule .description {
  margin-bottom: 20px;
  font-size: 1.125em;
  line-height: 1.4;
}
@media screen and (max-width: 740px) {
  .schedule .description {
    font-size: 1em;
    text-align: justify;
  }
}

@media screen and (max-width: 740px) {
  .days {
    text-align: center;
  }
}
.days li {
  display: inline-block;
}
.days li:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 740px) {
  .days li:first-child {
    margin-bottom: 20px;
  }
}
.days h4 {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color: #373839;
}
@media screen and (max-width: 740px) {
  .days h4 {
    font-size: 1.4em;
  }
}
.days p {
  font-size: 1.4em;
}
@media screen and (max-width: 740px) {
  .days p {
    font-size: 1em;
  }
}

.session-board {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 80px;
}
@media screen and (max-width: 890px) {
  .session-board {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 890px) {
  .session-board:before {
    display: none;
  }
}
.session-board:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #7a003c;
  z-index: -1;
}
.session-board:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #fdf9f4;
  z-index: -1;
}
@media screen and (max-width: 890px) {
  .session-board:after {
    width: 100%;
  }
}
.session-board > div {
  float: left;
  width: 50%;
}
@media screen and (max-width: 890px) {
  .session-board > div:first-child {
    position: absolute;
    width: 285px;
    height: 420px;
    top: 0;
    left: -285px;
    background-color: #7a003c;
    z-index: 100;
  }
  .session-board > div:first-child.opened {
    left: 0;
  }
  .session-board > div:first-child.fixed {
    position: fixed;
    top: 60px;
  }
}
@media screen and (max-width: 890px) {
  .session-board > div:last-child {
    width: 100%;
    background-color: #fdf9f4;
  }
}

.list-wrapper {
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-trigger {
  display: block;
  position: absolute;
  padding: 5px;
  top: 0;
  right: -25px;
  width: 25px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  background-color: #7a003c;
  z-index: 10;
}
@media screen and (min-width: 890px) {
  .nav-trigger {
    display: none;
  }
}

.boards-list {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.content-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.content-carousel {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
}

.board-nav {
  position: relative;
  float: left;
  width: 100%;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #fff;
  margin: 1px 0;
  padding: 60px 20px 60px 40px;
  background-color: #822648;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 1049px) {
  .board-nav {
    padding: 40px 15px;
  }
}
@media screen and (max-width: 890px) {
  .board-nav {
    padding: 15px;
  }
}
.board-nav:first-child {
  margin-top: 0;
}
.board-nav:last-child {
  margin-bottom: 0;
}
.board-nav:hover {
  background-color: #373839;
}
.board-nav.slick-current {
  background-color: #373839;
}
.board-nav img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1049px) {
  .board-nav img {
    width: 40px;
    height: 40px;
  }
}

.entry-name {
  margin-right: 20px;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 2.25em;
}
@media screen and (max-width: 1049px) {
  .entry-name {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 890px) {
  .entry-name {
    margin-right: 10px;
    font-size: 0.9em;
  }
}

.boards-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 60px 40px;
}
@media screen and (max-width: 1049px) {
  .boards-content {
    padding: 40px 15px;
  }
}
@media screen and (max-width: 890px) {
  .boards-content {
    padding: 40px 15px 10px 30px;
  }
}
.boards-content .hours {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.4;
  color: #7a003c;
}
@media screen and (max-width: 1049px) {
  .boards-content .hours {
    font-size: 1.1em;
  }
}

.item-title {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1.625em;
  line-height: 1.4;
  color: #373839;
}
@media screen and (max-width: 1049px) {
  .item-title {
    font-size: 1.4em;
  }
}

.item-content {
  margin: 10px 0 20px;
  font-size: 1.125em;
  line-height: 1.4;
}
@media screen and (max-width: 1049px) {
  .item-content {
    font-size: 1em;
  }
}

.error-page {
  position: relative;
  float: left;
  width: 100vw;
  height: 100vh;
  min-height: 480px;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: url('/static/img/error-img.jpg?1443697098') no-repeat center center/cover;
}

.error-text {
  max-width: 100%;
  padding: 0 15px;
  z-index: 10;
}
.error-text .site-btn {
  margin-top: 60px;
}

@media screen and (max-width: 390px) {
  .thank-page .site-btn {
    margin-top: 20px;
  }
  .thank-page .site-btn.red-btn {
    margin-top: 10px;
  }
}

.message-text {
  margin-top: 30px;
  max-width: 100%;
  width: 860px;
  font-size: 1.2em;
  line-height: 1.4;
}
@media screen and (max-width: 540px) {
  .message-text {
    margin-top: 20px;
    font-size: 0.9em;
    line-height: 1;
    text-align: justify;
  }
}

.red-btn:hover {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */