@charset "UTF-8";

@import 'partials/base/typography';
// http://bourbon.io/
@import 'bourbon/bourbon';

@import 'partials/utils/variables';
@import 'partials/utils/mixins';
@import 'partials/utils/layout';
@import 'partials/utils/helpers';

/* -------------------------------- 

Primary style

-------------------------------- */


*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font: {
    size: 1em;
    family: $opensans-regular; // variables inside partials > _variables.scss
  }
  color: $white;
  background-color: shade($color-1, 20%);
  @include font-smoothing;

  &.pages {
    color: map-get($ui-colors, text-color-1);
    background-color: transparent;
  }

  &::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
  }

  @include MQ(L) {

    &::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

body[data-hijacking="on"] {

  @include MQ(L) {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
  min-height: 480px;
  @media screen and (max-width: 1049px) {
    min-height: 100vh;
    height: auto;
  }
  > div {
    height: 100vh;
    @media screen and (max-width: 1049px) {
      min-height: 100vh;
      height: auto;
    }
  }
  &:first-of-type > div {
    background-color: $color-1;
    &::before {
      /* alert -> all scrolling effects are not visible on small devices */
      //content: 'Effects not visible on mobile!';
      content: '';
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20px;
      z-index: 2;
      font-weight: bold;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: tint($color-1, 30%);
    }
  }

  &:nth-of-type(2) > div {
    background-color: $color-2;
  }

  &:nth-of-type(3) > div {
    background-color: $color-3;
  }

  &:nth-of-type(4) > div {
    background-color: $color-4;
  }

  &:nth-of-type(5) > div {
    background-color: $color-5;
  }

  [data-animation="parallax"] & > div,
  [data-animation="fixed"] & > div,
  [data-animation="opacity"] & > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  [data-animation="parallax"] &:first-of-type > div,
  [data-animation="fixed"] &:first-of-type > div,
  [data-animation="opacity"] &:first-of-type > div {
    //background-image: url('../img/img-1.jpg');
  }

  [data-animation="parallax"] &:nth-of-type(2) > div,
  [data-animation="fixed"] &:nth-of-type(2) > div,
  [data-animation="opacity"] &:nth-of-type(2) > div {
    //background-image: url('../img/img-2.jpg');
    background-color: $white;
  }

  [data-animation="parallax"] &:nth-of-type(3) > div,
  [data-animation="fixed"] &:nth-of-type(3) > div,
  [data-animation="opacity"] &:nth-of-type(3) > div {
    //background-image: url('../img/img-3.jpg');
    background-color: map-get($ui-colors, brand-color-8);
  }

  [data-animation="parallax"] &:nth-of-type(4) > div,
  [data-animation="fixed"] &:nth-of-type(4) > div,
  [data-animation="opacity"] &:nth-of-type(4) > div {
    background-image: url('../img/img-4.jpg');
  }

  [data-animation="parallax"] &:nth-of-type(5) > div,
  [data-animation="fixed"] &:nth-of-type(5) > div,
  [data-animation="opacity"] &:nth-of-type(5) > div {
    background-image: url('../img/img-5.jpg');
  }

  [data-animation="parallax"] &:nth-of-type(6) > div,
  [data-animation="fixed"] &:nth-of-type(6) > div,
  [data-animation="opacity"] &:nth-of-type(6) > div {
    background-color: $white;
  }

  [data-animation="parallax"] &:nth-of-type(7) > div,
  [data-animation="fixed"] &:nth-of-type(7) > div,
  [data-animation="opacity"] &:nth-of-type(7) > div {
    background-color: $white;
  }

  @include MQ(L) {

    [data-hijacking="on"] & {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      > div {
        visibility: visible;
      }
    }

    [data-hijacking="off"] & > div {
      opacity: 0;
    }

    [data-animation="rotate"] & {
      /* enable a 3D-space for children elements */
      @include perspective(1800px);
    }

    [data-hijacking="on"][data-animation="rotate"] &:not(:first-of-type) {
      @include perspective-origin(center 0);
    }

    [data-animation="scaleDown"] & > div,
    [data-animation="gallery"] & > div,
    [data-animation="catch"] & > div {
      // box-shadow: 0 0 40px rgba(darken($color-1, 10%), .4);
      box-shadow: 0 0 0 rgba(darken($color-1, 10%), .4);
    }

    [data-animation="opacity"] &.visible > div {
      z-index: 1;
    }
  }
}

@include MQ(L) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}

.cd-section > div {

  @include MQ(L) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    /* Force Hardware Acceleration */
    @include transform(translateZ(0));
    @include backface-visibility(hidden);

    [data-hijacking="on"] & {
      position: absolute;
    }

    [data-animation="rotate"] & {
      @include transform-origin(center bottom);
    }
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  bottom: 3%;
  width: 30px;
  background: rgba($black, 0.3) image-url('fancy-mouse.png') no-repeat center center;
  border-radius: 15px;
  @include center(x);
  display: none;
  a {
    display: inline-block;
    height: 20px;
    width: 20px;

    /* image replace */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    background: url('../img/nav-arrow.png') no-repeat center center;

    &.cd-prev {
      @include transform(rotate(180deg));
      margin-bottom: 40px;
    }

    &.inactive {
      @include transition(opacity 0.2s 0s, visibility 0s 0.2s);
      visibility: hidden;
      opacity: 0;
    }
  }

  @include MQ(L) {
    display: block;
  }
}

/* --------------------------------

Section's styles

-------------------------------- */

@import 'partials/components/buttons';
@import 'partials/components/forms';
@import 'partials/components/carousels';
@import 'partials/components/site-menu';
@import 'partials/components/page-header';
@import 'partials/components/page-footer';

@import 'partials/pages/section-1';
@import 'partials/pages/section-2';
@import 'partials/pages/section-3';
@import 'partials/pages/section-4';
@import 'partials/pages/section-5';
@import 'partials/pages/section-6';
@import 'partials/pages/section-7';

@import 'partials/pages/about-us';
@import 'partials/pages/contact-us';
@import 'partials/pages/services';
